/*p, a, h2, div, h1, h3, h4, h5 h6{
  border: 1px solid red;
}*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*1 слайд Header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #f2f2f2;
  position: relative;
}
.header__square-pic{
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}
.header__main-illustration{
  background-size: cover;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.header__title {
  align-self: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin: 0;
  margin-left: 64px;
  font-weight: bold;
  z-index: 3;
}
.header__subtitle{
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 3;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
/*2 слайд Description*/
.description{
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  color: #2f80ed;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:not(:first-of-type):not(:last-of-type){
  margin: 30px auto 30px;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*3 слайд Table*/
.section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}
.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto 0;
}
.table{
  width: 1100px;
  margin: 0px auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}
/*4 слайд Feynman*/
.feynman{
  min-height: 890px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
}
.feynman__title{
  position: relative;
  width: 648px;
  margin: 100px auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}
.feynman__subtitle{
  position: relative;
  margin: 0 auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-decoration: none;
  color: #2f80ed;
}
/*5 слайд Kaufman*/
.kaufman{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}
.section-title_theme_dark{
  margin: 90px auto 20px;
  color: #ffffff;
}
.section-subtitle_theme_dark{
  color: #ffffff;
}
.table_theme_dark{
  margin: 0px auto 90px;
}
.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme_dark{
  color: #ffffff;
}
.table__text_theme_dark{
  color: #ffffff;
}
/*6 слайд Footer*/
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 60px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.footer__columns{
  display:flex;
  flex-direction:row;
  width:90%;
  justify-content: space-between;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}
.footer__author{
  margin: 18px 0;
  line-height: 25px;
  font-size:18px;
  font-weight: normal;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer__column-links{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}
.footer__social-icon{
  width:16px;
  height:16px;
  margin-right: 10px;
}
