.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin-bottom: 0;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  z-index: -3;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.header__square-pic{
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}
.header__main-illustration{
  background-image: url(../images/header-image.png);
  background-size: cover;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.header__title {
  display: flex;
  align-items: baseline;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  font-weight: bold;
}
.header__subtitle{
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  padding-bottom: 30px;
  padding-left: 64px;
  z-index: 2;
}
.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
}
.logo_place_header {
  position: absolute;
  padding-top: 0;
  padding-left: 0;
  margin: 30px 64px auto;
  z-index: 3;
}
.description{
  margin: 100px auto;
  position:relative;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.two-columns{
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
